/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*END OF CSS RESET*/

:root {
  --font-family: "Oswald";
  --background-color: #82a2fa;
  --font-size-big: 64px;
  --font-size-medium: 48px;
  --font-size-small: 32px;
}
body {
  font-family: var(--font-family);
  background-color: var(--background-color);

  input,
  textarea,
  button,
  select {
    font-family: inherit; /* Inherit the font from the body */
  }

  #main {
    input,
    label,
    span {
      cursor: pointer;
      user-select: none;
    }

    .selectLocation {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      gap: 16px;

      input,
      label,
      span {
        font-size: var(--font-size-big);
      }
      input {
        outline: 4px solid black;
      }
      span {
        padding: 4px;
      }
      span:hover {
        color: var(--background-color);
        background-color: black;
        border-radius: 50%;
      }
    }
    .upper {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-top: 24px;

      #backButtonContainer {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        span {
          margin-left: 24px;
          font-size: var(--font-size-medium);
        }
        span:hover {
          border-radius: 50%;
          background-color: black;
          color: var(--background-color);
        }
      }
      #upperInfo {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 24px;

        img {
          height: 320px;
          width: 320px;
          border-radius: 50%;
        }
        p {
          text-align: center;
          font-size: var(--font-size-medium);
          font-weight: 600;
        }
      }
    }
    .lower {
      display: flex;
      flex-direction: column;
      margin-left: 8vw;
      margin-top: 16vh;
      gap: 32px;
      p {
        font-size: var(--font-size-small);
      }
    }
  }
}
